@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
<<<<<<< HEAD
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
=======
@source '../**/*.blade.php';
@source '../**/*.js';
>>>>>>> dd88429cb772beb31ee33a948f9d150d301ccb13

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
